version: "3.8"

services:
  # Serviço do Backend (API Python)
  backend:
    build: ./backend
    ports:
      - "8000:8000" # Mapeia a porta 8000 do contêiner para a 8000 da sua máquina
    volumes:
      - ./backend:/app # Espelha o código local para dentro do contêiner

    command: [
        "uvicorn",
        "main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
        "--reload",
      ] #permite o hot-reload!!

  # Serviço do Frontend Web (React App)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Garante que a node_modules de dentro do contêiner não seja sobrescrita
    environment:
      - CHOKIDAR_USEPOLLING=true # Ajuda o hot-reload a funcionar de forma mais confiável no Docker
    stdin_open: true
    tty: true
    depends_on:
      - backend

  # Serviço do AppPet (React Native/Expo - Web)
  apppet:
    build:
      context: ./AppPet
      dockerfile: Dockerfile
    ports:
      - "19000:19000" # Expo bundler
      - "19001:19001" # Expo DevTools
      - "8081:8081" # Metro bundler fallback
    volumes:
      - ./AppPet:/app # Espelha o código local para dentro do contêiner
      - /app/node_modules # Garante que a node_modules de dentro do contêiner não seja sobrescrita
    environment:
      - CHOKIDAR_USEPOLLING=true # Ajuda o hot-reload a funcionar
      - EXPO_DEBUG=true
    stdin_open: true
    tty: true
    depends_on:
      - backend

  dashboard:
    build: ./dashboard
    ports:
      - "8501:8501" # Mapeia a porta 8000 do contêiner para a 8000 da sua máquina
    volumes:
      - ./dashboard:/app # Espelha o código local para dentro do contêiner
    command:
      [
        "streamlit",
        "run",
        "app.py",
        "--server.port=8501",
        "--server.address=0.0.0.0",
      ]
    depends_on:
      - backend
