version: '3.8'

services:
  # Serviço do Backend (API Python)
  backend:
    build: ./backend
    ports:
      - "8000:8000" # Mapeia a porta 8000 do contêiner para a 8000 da sua máquina
    volumes:
      - ./backend:/app # Espelha o código local para dentro do contêiner 
    
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"] #permite o hot-reload!!

  # Serviço do Frontend (React App)
  frontend:
    build:
      context: ./frontend       
      dockerfile: Dockerfile.dev 
    ports:
      - "3000:3000"             
    volumes:
      - ./frontend:/app         
      - /app/node_modules       # Garante que a node_modules de dentro do contêiner não seja sobrescrita
    environment:
      - CHOKIDAR_USEPOLLING=true # Ajuda o hot-reload a funcionar de forma mais confiável no Docker
    stdin_open: true  
    tty: true         
